@import './variables.css';

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html {
  /* line-height: 1.25;*/
  -webkit-text-size-adjust: 100%;
  scrollbar-gutter: both-edges;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  color: var(--base-body-color);
  font-family: var(--font-sans);
  font-weight: 400;
  font-size: rfs(18px);
  text-rendering: optimizeLegibility;

  overflow-y: auto;
}

p {
  line-height: 1.78;
  font-weight: 400;
  letter-spacing: 0.4px;
  margin-bottom: rfs(16px);
  @media screen and (max-width: 600px) {
    line-height: 26px;
  }
}

* > strong {
  font-weight: 700;
}

img,
picture,
video,
canvas,
mux-player {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

mux-player {
  width: 100%;
}

a {
  color: inherit;
  text-decoration: underline;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
  font-weight: 400;
}

h1 {
  font-weight: 900;
  padding-bottom: rfs(2rem);
}
h2 {
  padding-bottom: rfs(1rem);
  font-weight: 600;
}

::-moz-selection {
  background: #eee7d2;
}
::selection {
  background: #eee7d2;
}

mark {
  background: linear-gradient(120deg, #f4cf58 0%, #f4cf58 100%) no-repeat 0 88%/100% 0.4em
    transparent;
  font-weight: inherit;
  color: inherit;
}

mark.good {
  background-image: linear-gradient(120deg, #c6ffc2 0%, #c6ffc2 100%);
}

mark.bad {
  background-image: linear-gradient(120deg, #fac2c2 0%, #fac2c2 100%);
}

mark.warning {
  background-image: linear-gradient(120deg, #fdf4c2 0%, #fdf4c2 100%);
}

:has(> [id][data-anchor]):has(> [data-permalink]) {
  position: relative;

  &:hover {
    > [data-permalink] {
      opacity: 0.5;
    }
  }

  & > [data-anchor] {
    position: absolute;
    top: -120px;
  }

  & > [data-permalink] {
    transition: all 100ms ease-in-out;
    opacity: 0;
    background: svg-load('icons/regular/link.svg');
    background-size: contain;
    height: 0.7em;
    width: 0.7em;
    display: inline-block;
    margin-left: 0.3em;

    svg {
      color: var(--accent-color);
    }

    &:hover {
      opacity: 1;
    }
  }

  &:has(> [id][data-anchor]:target):before {
    content: '';
    position: absolute;
    inset: -1em;
    box-shadow: 0 0 0 6px rgba(244, 207, 88, 0.8);
    border-radius: 6px;
    animation: highlightElement 2s 0.5s ease-in-out forwards;
    pointer-events: none;
    z-index: 10;
  }
}

@keyframes highlightElement {
  0% {
    box-shadow:
      0 0 0 6px rgba(244, 207, 88, 0.8),
      0 0 0 6px rgba(244, 207, 88, 0.3);
  }
  20% {
    box-shadow:
      0 0 0 6px rgba(244, 207, 88, 0.8),
      0 0 0 80px transparent;
  }
  60% {
    box-shadow:
      0 0 0 6px rgba(244, 207, 88, 0.8),
      0 0 0 80px transparent;
  }
  100% {
    box-shadow:
      0 0 0 6px transparent,
      0 0 0 80px transparent;
  }
}

.fade-in-top {
  -webkit-animation: fade-in-top 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: fade-in-top 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}
/**
 * ----------------------------------------
 * animation fade-in-top
 * ----------------------------------------
 */
@-webkit-keyframes fade-in-top {
  0% {
    -webkit-transform: translateY(-50px);
    transform: translateY(-50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes fade-in-top {
  0% {
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

.fade-in-bottom {
  -webkit-animation: fade-in-bottom 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: fade-in-bottom 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

@-webkit-keyframes fade-in-bottom {
  0% {
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes fade-in-bottom {
  0% {
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

blockquote footer {
  color: darkgrey;
}

.hidingHeader {
  position: relative;
  --hidingHeader-height: auto;
  --hidingHeader-bounds-height: auto;
  --hidingHeader-animation-offset: 0px;
  z-index: 10;
  height: var(--hidingHeader-bounds-height);
  margin-bottom: calc(var(--hidingHeader-height) - var(--hidingHeader-bounds-height));
  pointer-events: none;
}

.hidingHeader-in {
  position: relative;
  position: sticky;
  top: 0;
  pointer-events: auto;
  transition: transform 0.2s;
  transform: translateY(var(--hidingHeader-animation-offset));
}

@media (prefers-reduced-motion) {
  .hidingHeader-in {
    transition-duration: 1ms;
    transition-timing-function: step-end;
  }
}

.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: rfs(16px);
  grid-template-rows: auto;
  position: relative;
  align-items: center;
  @media screen and (max-width: 768px) {
    grid-template-columns: repeat(2, 1fr);
  }
  img {
    border-radius: rfs(16px);
  }
}

.button_cta {
  display: flex;
  align-items: center;
  gap: 1rem;
  z-index: 1;
  width: fit-content;
  padding: 1.2rem 2rem;
  outline: none;
  text-decoration: none;
  position: relative;
  letter-spacing: 0.4px;
  font-size: 20px;
  font-weight: 500;
  background-color: var(--color-yellow);
  color: var(--color-blue-dark);
  border-radius: 16px;
  border: 1px solid white;
  &:hover {
    background-color: #ffd267;
  }
  svg {
    font-size: 24px;
  }
}

.blue {
  background-color: var(--color-blue-dark);
  color: var(--color-white);
  &:hover {
    background-color: var(--color-blue);
  }
}

#homepage_soins {
  min-height: 100vh;
  text-align: center;
  position: relative;
  display: flex;
  align-items: center;
  .grid figure .picture img {
    border-radius: 50%;
    max-width: 300px !important;
  }
  .grid {
    .deco {
      overflow: hidden;
      display: block;
      position: absolute;
      opacity: 0.2;
      top: 0;
      left: 0;
      width: 60%;
      height: 100%;
      @media screen and (max-width: 1024px) {
        width: 100%;
        height: 70%;
      }
    }
  }

  .mainColonne {
    /*aspect-ratio: 1.11;*/
    clip-path: shape(
      from 83.84% 0.66%,
      curve to 92.82% 89.27% with 103.21% 3.89%/103.8% 72.82%,
      curve to 30.92% 96.44% with 81.84% 105.71%/72.97% 99.05%,
      curve to 21.84% 8.8% with -11.13% 93.82%/-6.38% 10.47%,
      curve to 83.84% 0.66% with 50.06% 7.12%/64.47% -2.58%,
      close
    );
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: var(--color-yellow);
    margin: 0 auto;
    padding: rfs(4rem) rfs(5rem);

    & h1 {
      color: var(--color-blue-dark);
      text-transform: none;
      padding-bottom: 1rem;
    }
    & h2 {
      color: var(--color-blue-dark);
    }
  }
  .premiereColonne {
    text-align: center;
    align-items: center;
  }
}

#homepage_bulle_double {
  .mainColonne {
    padding-top: rfs(20px);
    @media screen and (max-width: 900px) {
      padding-top: 0;
    }
  }
}
#homepage_contact {
  .mainColonne {
    display: flex;
    flex-direction: column;
    padding-top: rfs(60px);
    gap: rfs(16px);
    align-items: center;
  }
  figure {
    margin: 0 auto;
  }
  text-align: center;
}

/* Hack second menu de la homepage en mode mobile
 => on le desactive
@media screen and (max-width: 1272px) {
  #hidingHeaderStaticTransparent ~ #site > #hidingHeader {
    display: none;
  }
}
 */

/* Liste de hastags (subtitle) de la liste de vignette artiste */
.hashtags_list {
  display: flex;

  flex-wrap: wrap;
  gap: rfs(8px);
  font-size: 16px;
  list-style: none;
  padding: 0;
}
